@charset "utf-8";

@import url('./font.scss');

:root {
  --red: #ea7664;
  --black: #2b2929;
  --brown: #89757a;
  --beige: #f6f5f5;
}

body {
  font-family: 'Source Serif 4', serif;
  color: var(--black);
}
